/* Outer div */
.customer-details-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Card div */
.customer-details-card {
  width: 416px;
  height: 826px;
  border-radius: 24px;
  padding: 48px;
  gap: 10px;
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
}

/* Logo css */

.customer-details-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-details-logo img {
  width: 212px;
  height: 64px;
  margin-bottom: 25px;
}

/* Customer details back button */
#back-btn.back-button {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 7px;
  gap: 10px;
  width: 72px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 2px;
  outline: none;
}

/* back button text */
.back-button p {
  margin-top: 15px;
  top: 1px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}

/* Update Antd typography css for title */
#title.ant-typography {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}

/* Update Antd typography css for subtitle  */
#subtitle.ant-typography {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.64);
  margin-top: 15px;
}
