.reset-password-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-password-card {
  height: 33rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-password-form {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
}

.reset-password-card-content {
  padding-bottom: 30px;
}

.input-element {
  margin-bottom: 20px;
}

input[type="email"],
input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  padding: 0.25rem;
  line-height: 20px;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.error-message {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
